<header flex-auto>
    <h1>Musa Rafik</h1>

</header>
<table>
    <tr>
        <th>Post</th>
    </tr>
    <%= for post <- @posts do %>
        <tr>
            <td><%= post.title %></td>
        </tr>
        <tr>
            <td><%= post.body %></td>
        </tr>
    <% end %>
</table>
